<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396196522504-mr21ajjvsb8umao7sg00sikk4b18b2qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396196522504-mr21ajjvsb8umao7sg00sikk4b18b2qf</string>
	<key>API_KEY</key>
	<string>AIzaSyDRQKtlJ8B6zcMuIumHTS4zpEBITwVlTuo</string>
	<key>GCM_SENDER_ID</key>
	<string>396196522504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smallfactorystudios.LostPostcards</string>
	<key>PROJECT_ID</key>
	<string>project-7994886474739983177</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7994886474739983177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:396196522504:ios:f4490afc058f87d0</string>
	<key>DATABASE_URL</key>
	<string>https://project-7994886474739983177.firebaseio.com</string>
</dict>
</plist>